.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.country{
    border:5px solid red;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 20px;
    /* margin: 5px; */

}
.country img{
      width: 200px;
}